<div class='annotation-bubble annotation-float annotation-editor annotation-hide'>
    <div class='container'>
        <form class='annotation-form'>
            <div class='text-content'>
                <textarea name='description'></textarea>
            </div>
            <div class="form_footer">
                <div class="color-wrapper">
                        {{#each colors}}
                        <input id="color_{{this}}" type="radio" name="color" class="marker" value="{{this}}"/>
                        <label class="{{this}}" for="color_{{this}}"></label>
                        {{/each}}
                </div>
                <div class='form-controls'>
                    <button type='submit' class='annotation-save'></button>
                    <button class='annotation-cancel'></button>
                    <button class='annotation-delete'>Del</button>
                </div>
            </div>
        </form>
    </div>
</div>
