<div class='annotation-float annotation-highlight annotation-hide'>
    <button class='marker' data-color='yellow'>Yellow</button>
    <button class='marker' data-color='red'>Red</button>
    <button class='marker' data-color='green'>Green</button>
</div>