<div class='annotation-bubble annotation-float annotation-editor annotation-hide'>
    <div class='container'>
        <div class='text-content'>
            <textarea></textarea>
        </div>
        <div class='highliter'>
            <div class="button-wrapper">
                <button class='marker' data-color='yellow'>Yellow</button>
            </div>
            <div class="button-wrapper">
                <button class='marker' data-color='red'>Red</button>
            </div>
            <div class="button-wrapper">
                <button class='marker' data-color='green'>Green</button>
            </div>
        </div>
        <div class='form-controls'>
            <button class='annotation-save'>Save</button>
            <button class='annotation-cancel'>Cancel</button>
        </div>
    </div>
</div>
