.annotation-adder {
    width: 200px;
    height: 50px;
    &.top:before {
        border-color: #F00 transparent;
        border-style: solid;
        position: absolute;
        content: '';
        bottom: 100%;
        left: 50%;
        border-width: 0 15px 15px;
    }
    .container {
        @include display-table();
        .button-wrapper {
            @include display-cell();
            button {
                height: 35px;
            }
        }
    }
}