@import './adder.scss';
@import './editor.scss';

.annotation-hide {
    display: none;
}

.annotator-hl {
    background-color: #c2c2c2;
}

.annotation-float {
    position: absolute;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: #F00;
}

.green {
    background-color: #0F0;
}

.annotation-bubble {
    border-radius: 18px;
    background: linear-gradient(#f3961c, #f9d835);
}

