.annotation-hide {
    display: none;
}

.annotator-hl {
    background-color: $defaultHighlight;
}

.annotation-float {
    position: absolute;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: #F00;
}

.green {
    background-color: #0F0;
}

.annotation-bubble {
    @include  border-radius(10px);
    margin-top: 10px;
    background-color: $annotation-background;
    @include box-shadow(0 5px 15px rgba(64,54,54,0.4));
}