<div class='annotation-bubble annotation-float annotation-adder annotation-hide'>
    <div class='container'>
        <div class="button-wrapper">
            <button class='highlight'>Highlight</button>
        </div>
    </div>
</div>